body {
  background: #fafafa;
}

.navbar-brand img {
  width: 100px;
}

.bg-light {
  background: #fff !important;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.form-control {
  border: 1 !important;
  margin: 0 !important;
  width: 380px !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn-outline-success {
  background: #f8f8f8;
  color: #aaa;
  border-color: #ccc;
  border-radius: 2px;
  padding-left: 40px;
  padding-right: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0;
}

.btn-outline-success:hover {
  background: #ddd;
  border-color: #ccc;
  color: #888;
}

main {
  padding-top: 30px;
}

.container-fluid {
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.yt-title {
  margin: 20px 0;
}

h4 {
  font-weight: bold;
}

.btn-red {
  background: #3468fa;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  padding: 6px 30px;
}

.btn-red:hover {
  color: #fff;
  background: #2d5cdd;
}

.side-title {
  font-size: 0.95em;
  font-weight: bold;
}

.black {
  background: #000;
}
